<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.model.BuyApplicantDAO"> 


	<insert  id="insertBuyApplicant" parameterType="com.smhrd.model.BuyApplicant">
		insert into tbl_buy_applicant values (tbl_buy_applicant_seq.nextval,#{mem_id},sysdate,#{buy_p_state},#{buy_c_state},#{buy_link},#{buy_pay},#{cat_name},#{board_seq})	
	</insert>

	<select id="SelectBuyApplicantCNT" parameterType="int" resultType="int">
		select count(*) from tbl_buy_applicant where board_seq=#{board_seq}
	</select>

	<select id="SelectOne" parameterType="int" resultType="com.smhrd.model.BuyApplicant">
		select * from tbl_buy_applicant where board_seq=#{board_seq}
	</select>
	
	<select id="selectOnePar" parameterType="com.smhrd.model.BuyApplicant" resultType="com.smhrd.model.BuyApplicant">
		select * from tbl_buy_applicant where  mem_id=#{mem_id} and  board_seq=#{board_seq} 
	</select>
	
	<update id="updateState" parameterType="com.smhrd.model.BuyApplicant">
		UPDATE tbl_buy_applicant
		SET article_state = #{article_state}
		WHERE board_seq = #{board_seq}
	</update>

</mapper>