<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.model.ShareDAO"> 

	<select id="selectAllMyList" resultType="com.smhrd.model.Share" parameterType="String">
		select * from tbl_share where mem_id=#{loginMember}
	</select>
	
	<select id="selectAllMyParList" resultType="com.smhrd.model.Share" parameterType="String">
		select * from tbl_share 
		where board_seq in( select board_seq from tbl_buy_applicant where mem_id=#{loginMember})
	</select>
	
	<select id="selectWriter" resultType="String" parameterType="int">
		select mem_id from tbl_share where board_seq=#{board_seq}
	</select>
	
	<update id="updateState" parameterType="com.smhrd.model.ShareForUpdate">
		UPDATE tbl_share
		SET article_state ='제발되거라'
		WHERE board_seq = '147'
	</update>
	

	
	
	
	
</mapper>