<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.model.shareDeleteConDAO">


	<update id="shareDeleteCon" parameterType="BigDecimal">
		update tbl_share set DEL_YN='y' where BOARD_SEQ=#{BOARD_SEQ}
	</update>
	

	
</mapper> 