<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.model.tbl_applicantselectDAO"> 

	<select id="selectB" parameterType="com.smhrd.model.tbl_applicantselect" resultType="String">
		select CAT_NAME from tbl_buy_applicant where mem_id=#{MEM_ID} and board_seq = #{BOARD_SEQ}
	</select>
	
	<select id="selectA" parameterType="com.smhrd.model.tbl_applicantselect" resultType="String">
		select CAT_NAME from tbl_arbeit_applicant where mem_id=#{MEM_ID} and board_seq = #{BOARD_SEQ}
	</select>
	
	<select id="selectI" parameterType="com.smhrd.model.tbl_applicantselect" resultType="String">
		select CAT_NAME from tbl_account_applicant where mem_id=#{MEM_ID} and board_seq = #{BOARD_SEQ}
	</select>
	
	<select id="selectF" parameterType="com.smhrd.model.tbl_applicantselect" resultType="String">
		select CAT_NAME from tbl_free_applicant where mem_id=#{MEM_ID} and board_seq = #{BOARD_SEQ}
	</select>
	
	
</mapper>