<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
       "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.smhrd.model.tbl_paymentDAO">

	<select id="insertPayment" parameterType="String">
		insert into tbl_payment values(
		tbl_payment_seq.nextval,#{id},0,sysdate,null,'미입금')
	</select>

	<select id="selectPayment" parameterType="String" resultType="com.smhrd.model.tbl_payment">
		select * from tbl_payment where MEM_ID=#{id}
	</select>

	<select id="selectPaymentTF" parameterType="int" resultType="com.smhrd.model.tbl_payment">
		select * from tbl_payment where MEM_ID in(
		select MEM_ID from TBL_BUY_APPLICANT WHERE BOARD_SEQ=#{BOARD_SEQ}) AND PAY_TF='입금완료'
		
	</select>
	





</mapper>  