<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.model.tbl_arbeit_applicantDAO"> 

<select id="SelectOneA" parameterType="String" resultType="com.smhrd.model.tbl_arbeit_applicant">
		select * from tbl_arbeit_applicant where mem_id=#{loginMember}
</select>

<insert  id="insertArbeitApplicant" parameterType="com.smhrd.model.tbl_arbeit_applicant">
	insert into tbl_arbeit_applicant values (tbl_arbeit_applicant_seq.nextval,#{MEM_ID},sysdate,#{ARB_P_STATE},#{ARB_C_STATE},#{ARBEIT_TIME},#{ARBEIT_SITE},#{ARBEIT_PAY},#{CAT_NAME},#{BOARD_SEQ})	
</insert>

	<select id="selectOnePar2" parameterType="com.smhrd.model.tbl_arbeit_applicant" resultType="com.smhrd.model.tbl_arbeit_applicant">
		select * from tbl_arbeit_applicant where MEM_ID=#{MEM_ID} and BOARD_SEQ=#{BOARD_SEQ} 
	</select>

</mapper>