<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.model.tbl_shareDAO"> 
	
	
	
	
	
	<select id="selectAllList" resultType="com.smhrd.model.tbl_share">
		select * from tbl_share
	</select>
	
	<select id="selectOne" parameterType="int" resultType="com.smhrd.model.tbl_share">
		select * from tbl_share where BOARD_SEQ= #{num} and del_yn='n'
	</select>
	
	<select id="selectAllListPage" parameterType="int" resultType="com.smhrd.model.tbl_share">
		select * from tbl_share where BOARD_SEQ >= #{num} and del_yn='n' order by BOARD_SEQ 
	</select>
	
	<insert  id="insertShareBuyBoard" parameterType="com.smhrd.model.tbl_share">
		insert into tbl_share values (tbl_share_seq.nextval,#{ARTICLE_TITLE},#{ARTICLE_CONTENT},#{MEM_ID},sysdate,#{ARTICLE_FILE},'0','n','모집중','B')	
	</insert>
	
	<insert  id="insertShareArbeitBoard" parameterType="com.smhrd.model.tbl_share">
		insert into tbl_share values (tbl_share_seq.nextval,#{ARTICLE_TITLE},#{ARTICLE_CONTENT},#{MEM_ID},sysdate,#{ARTICLE_FILE},'0','n','모집중','A')	
	</insert>
	
	<insert  id="insertShareFreeBoard" parameterType="com.smhrd.model.tbl_share">
		insert into tbl_share values (tbl_share_seq.nextval,#{ARTICLE_TITLE},#{ARTICLE_CONTENT},#{MEM_ID},sysdate,#{ARTICLE_FILE},'0','n','모집중','F')	
	</insert>
	
	<insert  id="insertShareAccountBoard" parameterType="com.smhrd.model.tbl_share">
		insert into tbl_share values (tbl_share_seq.nextval,#{ARTICLE_TITLE},#{ARTICLE_CONTENT},#{MEM_ID},sysdate,#{ARTICLE_FILE},'0','n','모집중','I')	
	</insert>
	
	
	
</mapper>    