<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
       "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.smhrd.model.tbl_paymentDAO">

	<select id="insertPayment" parameterType="String">
		insert into tbl_payment values(
		tbl_payment_seq.nextval,#{MEM_ID},0,sysdate,null,'미입금',tbl_share_seq.currval)
	</select>
	
	
	
	
	<select id="insertPaymentPar" parameterType="com.smhrd.model.tbl_payment">
		insert into tbl_payment values(
		tbl_payment_seq.nextval,#{MEM_ID},0,sysdate,null,'미입금',#{BOARD_SEQ})
	</select>
	
	
	<select id="selectPayment2" parameterType="com.smhrd.model.tbl_payment" resultType="com.smhrd.model.tbl_payment">
		select * from tbl_payment where MEM_ID=#{MEM_ID} and BOARD_SEQ=#{BOARD_SEQ}
	</select>
	

	<select id="selectPayment" parameterType="com.smhrd.model.tbl_payment" resultType="com.smhrd.model.tbl_payment">
		select * from tbl_payment where MEM_ID=#{MEM_ID} and BOARD_SEQ=#{BOARD_SEQ}
	</select>
	
	<select id="selectPaymentAllcnt" parameterType="int" resultType="int">
		select count(*) from tbl_payment where board_seq = #{board_seq}
	</select>

	<select id="selectPaymentTFcnt" parameterType="int" resultType="int">
		select count(mem_id) from tbl_payment where PAY_TF='입금완료' and board_seq = #{board_seq}
	</select>
	
	<select id="selectPaymentPar" parameterType="int" resultType="com.smhrd.model.tbl_payment">
		select * from tbl_payment where board_seq = #{board_seq}
	</select>
	
	<select id="payComplete"  resultType="com.smhrd.model.tbl_payment">
		select count(*),board_seq from tbl_payment
		where pay_tf ='입금완료'
		group by board_seq
	</select>
	

	<update id="updatePayment" parameterType="com.smhrd.model.tbl_payment">
		UPDATE tbl_payment
		SET pay_money=#{PAY_MONEY} , pay_tf=#{PAY_TF}
        WHERE board_seq = #{BOARD_SEQ} and mem_id =#{MEM_ID}
	</update>


</mapper>  