<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.model.tbl_shareDAO"> 
	
	
	
	
	
	<select id="selectAllList" resultType="com.smhrd.model.tbl_share">
		select * from tbl_share
	</select>
	
	<select id="selectOne" parameterType="int" resultType="com.smhrd.model.tbl_share">
		select * from tbl_share where BOARD_SEQ= #{num}
	</select>
	
	<select id="selectAllListPage" parameterType="int" resultType="com.smhrd.model.tbl_share">
		select * from tbl_share where BOARD_SEQ >= #{num}  order by BOARD_SEQ
	</select>
	
	<insert  id="insertShareBuyBoard" parameterType="com.smhrd.model.share">
		insert into tbl_share values (tbl_share_seq.nextval,#{name},#{content},#{writer},sysdate,#{filename},"0",'n','진행','B')	
	</insert>
	
	<insert  id="insertShareArbeitBoard" parameterType="com.smhrd.model.share">
		insert into tbl_share values (tbl_share_seq.nextval,#{name},#{content},#{writer},sysdate,#{filename},"0",'n','진행','A')	
	</insert>
	
	<insert  id="insertShareFreeBoard" parameterType="com.smhrd.model.share">
		insert into tbl_share values (tbl_share_seq.nextval,#{name},#{content},#{writer},sysdate,#{filename},"0",'n','진행','F')	
	</insert>
	
	<insert  id="insertShareAccountBoard" parameterType="com.smhrd.model.share">
		insert into tbl_share values (tbl_share_seq.nextval,#{name},#{content},#{writer},sysdate,#{filename},"0",'n','진행','I')	
	</insert>
	
	
	
</mapper>    