<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.model.updateStatepDAO"> 

	
	<update id="updateStatepB" parameterType="com.smhrd.model.BuyApplicant">
		UPDATE tbl_buy_applicant
		SET buy_p_state = #{buy_p_state}
		WHERE board_seq = #{board_seq}
	</update>
	
	<update id="updateStatepA" parameterType="com.smhrd.model.tbl_arbeit_applicant">
		UPDATE tbl_arbeit_applicant
		SET arb_p_state = #{MEM_ID}
		WHERE board_seq = #{BOARD_SEQ}
	</update>
	
	<update id="updateStatepI" parameterType="com.smhrd.model.tbl_account_applicant">
		UPDATE tbl_account_applicant
		SET account_p_state = #{ACCOUNT_P_STATE}
		WHERE board_seq = #{BOARD_SEQ}
	</update>
	
	<update id="updateStatepF" parameterType="com.smhrd.model.tbl_free_applicant">
		UPDATE tbl_free_applicant
		SET free_p_state = #{FREE_P_STATE}
		WHERE board_seq = #{BOARD_SEQ}
	</update>
	


</mapper>